@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.phantom-button {
    height: inherit !important;
    padding: inherit !important;
}

.phantom-button:hover {
    background-color: transparent !important;
    color: #194b38;
}

.phantom-button:hover > .wallet-adapter-button-start-icon > svg,
.phantom-button:hover > span {
    color: #194b38 !important;
} 
